<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="tab col-md-2  mt-5">
    <a th:href="@{/admin/home}" class="tablinks active">Thống kê</a>
    <a th:href="@{/admin/product}" class="tablinks">Quản lý sản phẩm</a>
    <a th:href="@{/admin/category}" class="tablinks ">Quản lý danh mục</a>
    <a th:href="@{/admin/order/waitingConfirm}" class="tablinks">Quản lý đơn hàng</a>
    <a th:href="@{/admin/user}" class="tablinks ">Quản lý khách hàng</a>
</div>
</body>
</html>