<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/motelroom_style.css}">
    <script type="text/javascript"
            th:src="@{/js/motelroom_script.js}"></script>
    <title>Admin Home - Motel Management</title>
    <script>
        function activeAsLink(link) {
            window.location = link;
        }
    </script>
</head>
<body>
<div th:replace="views/_header-admin.html :: header-admin"></div>
<div th:replace="views/_menu-admin.html :: menu-admin"></div>
<div align="center" layout:fragment="content">
    <h3>Danh sách phòng</h3>
<!--    <p style="color: red" th:text="${errors}"></p>-->
    <form th:action="@{/deleteRoom}" id="deleteRoomForm" method="post">
        <input type="hidden" name="roomId" id="deleteRoomId" />
    </form>

    <div style="margin-bottom: 10px;">
        <form method="post" th:action="@{/adminHome}">
            <b>Lọc theo ngày: </b> From &nbsp;
            <input type="date" th:value="${fromDate}" required="required" name="fromDate" />&nbsp;&nbsp;
            to &nbsp;
            <input type="date" th:value="${toDate}" required="required" name="toDate" />&nbsp;
            <input type="submit" value="Lọc" />&nbsp;&nbsp;&nbsp;
            <b>Doanh thu: </b>
<!--            <span th:text="${#numbers.formatInteger(turnover)}"></span><sup>$</sup>-->
            <input type="hidden" name="keyword" th:value="${keyword}">
            <input type="hidden" name="currentPage" th:value="${currentPage}">
        </form>
    </div>

    <table border="1">
        <tr>
            <th>Số phòng</th>
            <th>Kiểu</th>
            <th>Giá tiền</th>
            <th>Diện tích</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th colspan="4" width="150px">Hoạt động</th>
        </tr>
        <tr th:each="room : ${roomList}">
            <td th:text="${room.roomNumber}"></td>
            <td th:text="${room.kindOfRoom}"></td>
            <td><span th:text="${#numbers.formatCurrency(room.price)}"></span><sup>$</sup></td>
            <td align="center"><span th:text="${room.area}"></span></td>
            <td><span th:switch="${room.status}">
                        <span th:case="'1'" style="color: green">Còn trống</span>
                        <span th:case="'2'" style="color:blue;">Có người thuê</span>
                        <span th:case="'3'" style="color:red;">Đang sửa chữa</span>
                        <span th:case="'4'" style="color:black;">Đã được đặt cọc</span>
            </span></td>
            <td><span th:text="${#dates.format(room.createDate, 'dd-MM-yyyy HH:mm')}"></span></td>
            <td align="center"><button type="button" th:onclick="|window.location.href='updateRoom/' + ${room.id}|" >Sửa</button></td>
            <td align="center"><button type="button" th:onclick="|window.location.href='deleteRoom/' + ${room.id}|">Xóa</button></td>
            <td align="center"><button type="button" th:onclick="|window.location.href='detail_admin/' + ${room.id}|">Xem chi tiết</button></td>
            <td align="center" th:if="${room.status == 3}"><button type="button" >Tắt sửa chữa</button></td>
            <td align="center" th:if="${room.status != 3}"><button type="button" >Bật sửa chữa</button></td>
        </tr>
    </table>
    <br>
    <sup>(* Mặc định hiển thị số sách bán trong 12 tháng cho đến ngày hiện tại *)</sup>
    <br />
    <a th:href="@{/createRoom}">Thêm phòng mới</a><br>

    <div style="margin-top: 5px" th:if="${keyword == null}">
        <div th:if="${currentPage > 1}">
            <a th:href="@{/adminHome(page=${currentPage - 1})}">Previous</a>&nbsp;
        </div>
        <span th:each="i : ${#numbers.sequence(1, noOfPages)}">
                <span th:if="${currentPage == i}">&nbsp;<span th:text="${i}"></span>&nbsp;</span>
                <a th:if="${currentPage != i}" th:href="@{/adminHome(page=${i})}">&nbsp;<span th:text="${i}"></span>&nbsp;</a>
            </span>
        <div th:if="${currentPage < noOfPages}">
            <a th:href="@{/adminHome(page=${currentPage + 1})}">Next</a>
        </div>
    </div>

    <div style="margin-top: 5px" th:if="${keyword != null}">
        <div th:if="${currentPage > 1}">
            <a th:href="@{/adminHome(page=${currentPage - 1}, keyword=${keyword})}">Previous</a>&nbsp;
        </div>
        <span th:each="i : ${#numbers.sequence(1, noOfPages)}">
                <span th:if="${currentPage == i}">&nbsp;<span th:text="${i}"></span>&nbsp;</span>
                <a th:if="${currentPage != i}" th:href="@{/adminHome(page=${i}, keyword=${keyword})}">&nbsp;<span th:text="${i}"></span>&nbsp;</a>
            </span>
        <div th:if="${currentPage < noOfPages}">
            <a th:href="@{/adminHome(page=${currentPage + 1}, keyword=${keyword})}">Next</a>
        </div>
    </div>
</div>

<script>
    function onClickDeleteRoom(number, roomId) {
        if (confirm('Are you sure you want to delete room ' + number + '?')) {
            document.getElementById('deleteRoomId').value = roomId;
            document.getElementById('deleteRoomForm').submit();
        }
    }
</script>
</body>
</html>
